/* dev styles here */
:root {
    --navy: #0c263e;
    --dk-navy: #071629;
    --orange: #e75a2f;
    --off-white: #f5f5f5;
}

/* body {
    color: var(--orange);
} */

.inner-container {
    padding: 0 1rem;
    max-width: 1400px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* **********************************************Typography************************************************************ */

h1,
h2 {
    font-family: 'Pacifico', cursive;
}

h1 a {
    color: var(--off-white);
    text-decoration: none;
}

h2 {
    font-size: 3.125rem;
}

p {
    max-width: 70ch;
    font-size: 18px;
    margin-bottom: 1.5rem;
}



/* **************************************************header**************************************************************** */



header {
    padding: 1rem 0;
    background-color: var(--navy);
}

.toggle-btn {
    background-color: var(--navy);
    border: none;
    color: var(--off-white);
    font-size: 0.8rem;
    text-transform: lowercase;
}

.toggle-btn svg {
    width: 35px;
    fill: var(--off-white);
    display: block;
}

header nav {
    /* flex-basis: 100%; */
    /* flex: 1 0 100%; */
    position: absolute;
    background-color: var(--navy);
    top: 88px;
    left: 0;
    width: 100vw;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}

.show-nav {
    max-height: 433px;
}

ul.menu {
    border-bottom: 1px solid var(--off-white);
    margin-bottom: 1.5rem;
}

ul.menu a {
    color: var(--off-white);
    text-decoration: none;
    display: block;
}

ul.menu li {
    line-height: 35px;
    margin: 0.5rem 0;
}

/* ul.menu>li>a{
    font-size: 1.3rem;
} */

a.first-link {
    font-size: 1.3rem;
}

ul.menu a:hover {
    color: var(--orange);
    text-decoration: underline;
}


ul.submenu {
    padding-left: 1.875rem;
}

ul.utility-nav {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

ul.utility-nav a {
    text-transform: uppercase;
    /* background-color: var(--orange); */
    background: rgb(231, 34, 34);
    background: linear-gradient(127deg, rgba(231, 34, 34, 1) 21%, rgba(252, 176, 69, 1) 100%);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: var(--off-white);
    text-decoration: none;
    display: inline-block;
}

section {
    padding: 3.125rem 0;
}

.first-link svg {
    display: none;
}

@media screen and (min-width: 700px) {
    .toggle-btn{
        display: none;
    }

    header nav {
        max-height: 28rem;
        position: static;
        width: auto;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 3rem;
        overflow: visible;
    }

    ul.menu {
        display: flex;
        gap: 1.5rem;
        border: none;
    }

    ul.menu li {
        position: relative;
    }

    ul.submenu {
        position: absolute;
        top: 35px;
        left: 0;
        background-color: var(--navy);
        /* background-color: red; */
        /* z-index: 10; */
        white-space: nowrap;
        width: 100%;
        padding: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        padding: 1rem;
        text-align: right;
    }

    ul.menu li:hover > ul.submenu {
        visibility: visible;
        opacity: 1;
    }

    ul.menu li:focus-within > ul,
    ul.menu li > ul:focus {
        visibility: visible;
        opacity: 1;
    }

    ul.menu,
    ul.utility-nav {
        margin: 0;
    }

    .first-link {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }


    .first-link svg {
        display: unset;
        width: 17px;
        fill: var(--off-white);
    }

    ul.menu li:hover > .first-link svg{
        fill: var(--orange);
    }
}

@media screen and (min-width: 980px) {
    .gallery-images {
        display: flex;
        align-items: flex-start;
    }

    .gallery-images img {
        width: 50%;
    }

    .gallery-images img:last-of-type {
        position: relative;
        top: 100px;
        right: 150px;
    }
}